/*navbar css*/

.league-card{
	
	height:100%;
	border-radius:5px;
	
}

.league-name{
	
	
	//bottom:-4%;
}
.inner-league-name{
	justify-content:center;
	padding-top:7%;
	
}

.league-card:hover{
	
	background-color:white;
	
}