/*page styles css */


.sports-available-page{
	
	font-family:LegionFont; /*Shrikhand*/
	
}

.sports-available-page .grid{
	display:flex;
	justify-content:center;
	
}

.sports-available-page img{
	margin:15px;
	
	
}