stackem-grid{/*for body*/

display:grid;
gap:1rem;
grid-template-columns: repeat(auto-fit, minmax(240px,1fr));

grid-template-areas:
"sidebar container sidebar";



}

l-sidebar{
	grid-area:sidebar;
}

r-sidebar{
	grid-area:sidebar;
	
}

.container{
	grid-area:container;
}