

.graph-container{
	
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	
}



fieldset {
    text-align: center;
    font-size: 25px;
	border-color:black;
	border-style:solid;
	border-width:20px;
}

legend {
    font-size: 15px; 
}



.table-and-graph{/*border of recharts graph*/
	//border-style:solid;
	//width:80%;
	object-fit:cover;
	
	
}


table{
	border-collapse: collapse;
	//border:solid black 1px;
    //border-radius:10px;
}


.table-containers{
	
	
	/*rounded corner*/
	border-style:solid;
	//background-color:grey;
	//width:62.5%;/*kepth the color of thead aligned with chart*/
	max-width:100%;
	//margin:auto;
	z-index:3;
	
	bottom:0;
	//font-family: Impact, fantasy;/*only effects before table break*/
	font-family: Shrikhand;
	//position:absolute;
}

.table-break{
	
	background-color:blue;
	width:565%;
	height:10px;
	margin-right:auto;
	
	
}


.stat-table th{ 
	border-right:solid;
	border-style:solid;
	border-color:blue;
	
	border-right: solid 1px black; 
  border-left: solid 1px black;
	//justify-content:center;
	
}

.stat-table th{
	border-right:solid;
	border-style:solid;
	border-color:blue;
	color:white;
	background-color:blue;
	
	border-right: solid 1px black; 
  border-left: solid 1px black;
	//justify-content:center;
	
}

.stat-table{
	font-size:.6rem;
	background-color:lightgrey;
	//border-collapse:collapse;
}
.graph{
	
	//position:absolute;
	
	
	position:relative;
	//margin:0;
	//width:300px;
	//margin:20px;
	//object-fit:contain;
	//display:flex-box;
	
	//background-color:white;
	
	
	
	//min-height:12em;
	min-width:8em;
	
	
	//margin:auto;
	//margin:9px;
	
	//width:80%;
	//margin:auto;
	
    //border-style:solid;
    //border-width:1px;
	//width:50%;
	/*height:250px;
	width:250px;
	object-fit:contain;
    
    /*height:10em;
    padding:10px 10px;*/
	//padding:1px;
	//overflow:hidden;
	//position:relative;
	//float:left;
	//flex-wrap:nowrap;
	/*
	margin-left:auto;
	margin-bottom:auto;
	margin-right:auto;
	margin-top:auto;*/
	
    //flex-direction:left;
    
	z-index: 3;/*as high as possible to prevent being hidden*/
}







